
@tailwind base;
@import "flag-icons/css/flag-icons.min.css";
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-shadow-white {
      text-shadow: 1px 1px 10px white;
    }
    .text-shadow-black {
      text-shadow: 1px 1px 5px darkgray;
    }
    .text-shadow-none {
      text-shadow: none;
    }
    .button {
        @apply dark:shadow-[0_0_30px_-13px_rgba(0,0,0,0.1)] dark:shadow-cyan-600 rounded-xl ;
    }
    .dark .button {
        background: rgba(145, 235, 232, 0.13);
        backdrop-filter: blur(3.5px);
        border: 1px solid rgba(145, 235, 232, 0.43);
    }
    .button:hover {
        @apply dark:shadow-[0_0_30px_-5px_rgba(0,0,0,0.1)]  dark:shadow-cyan-400 ;
    }

}

body {
  @apply dark:bg-gray-900 dark:text-white bg-white text-gray-800;
}

[data-collapsible="true"].bg-white + [data-collapsible="true"].bg-white,
[data-collapsible="true"].bg-gray-800 + [data-collapsible="true"].bg-gray-800 {
  @apply pt-0 md:pt-0;
}

.galleria-images {
  columns: 5 350px;
  column-gap: 1.5rem;
  width: 90%;
  margin: 0 auto;
}
.galleria-images div {
  margin: 0 1.5rem 1.5rem 0;
  display: inline-block;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  transition: all .25s ease-in-out;
}


